.userPhoto {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;

}

.selectedPage {
    font-weight: bolder;
    color: navy;
}

.preloader {
    max-width: 100px;
    max-height: 100px;
}