.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogsItem {
    padding: 10px;

}

.dialogsItem a {
    text-decoration: none;

}

.active {
    color: navy;
}

.dialog {
    text-decoration: none;
    color: white;
}

.messages {
    padding: 10px;
}

.message {
}